{% extends 'base.html' %}

{% load static %}

{% block contenidoQCambia %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/aboutme.css' %}">

    <h1>Proyecto de Ian Chalverat</h1>

    <body>
    <h5>Proyecto blog para conocer comunidades</h5>
    <p>Hola, soy Ian Chalverat. Actualmente estoy cursando un curso de Python y estoy muy emocionado de aprender más sobre programación. Anteriormente, me recibí de técnico maestro mayor de obra en una escuela técnica, lo que me dio una gran experiencia en la construcción y la planificación de proyectos. Además, estoy estudiando la carrera de Ciencia de datos en una facultad, lo que me permite profundizar en mi conocimiento de la estadística y el análisis de datos. Me encanta aprender cosas nuevas y estoy emocionado de ver a dónde me llevará mi carrera en el futuro. </p>
    </div>

    <div style="margin-top: 20px;">
        {% url 'Inicio' as url %}
        <button class="center" type="button" onclick="window.location.href='{{ url }}'">Volver al inicio</button>
    </div>
{% endblock contenidoQCambia %}